body{
font-family: Arial;
background:#f5f5f5;
margin:0;
padding:0;
text-align:center;
}
header{
background:#4CAF50;
color:white;
padding:15px;
}
nav a{
color:white;
margin:10px;
text-decoration:none;
}
section{
padding:20px;
}
img{
width:200px;
margin:10px;
border-radius:10px;
}
footer{
background:#333;
color:white;
padding:10px;
}
